/*navegacion*/
/*margen del logo en la izquierda*/
.navbar .navbar-brand{
    margin-left: 2%;
    
}
/*margen de los items*/
.navbar .nav{
    margin-left: 50%;
      
}
/*color y tamano de las letras de la navegacion*/
.navbar .nav-item .nav-link{
    color: #d88922;
    font-size: 120%;
 
}
/*ancho de los div de los items de la navegacion y centrados*/
.navbar .nav-item{
    
    width: 110px;
    text-align: center;
 
}
/*efecto de items*/
.navbar .nav-item:hover{
    border:solid 2px #d88922;
    border-radius: 20px;

}
/*inicio responsive*/
/*col*/

@media(max-width:575px){
   /*Logo de la navegacion*/
    #tlogo{
        width: 40%;
    }
    #alquiler{
        font-size: 25px;
        padding-top: 8%;
    }
    #impresoras{
        font-size: 10px;
    }
    #solucion{
        font-size: 7.5px;
    }
    .descubre{
        top: 95%;
        left: 9%;
        font-size: 8.5px;
    }
    .present{
        width: 100%;
        height: 130%;
    }
    .letras{
        position: absolute;
        top: 30%;
        left: 9%;        
    }
    /*  nosotros*/ 
    .nosotros{
        padding-top: 20%;
        
    }
    
    .main-nos{
        text-align: justify; 
              
    }
    #nos{
        font-size: 20px;
        color: #d88922;
        text-align: center;
    }

    .nos-img{
        width: 100%;
        height: 100%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;    
        
    }
    .main-img{
        padding-top: 3%;
        padding-bottom: 5%;
    }
    /*por que*/
    .porque{
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgba(223, 230, 233,0.5);
    }
    .main-porque{
        text-align: center;
    }
    #por{
        font-size: 20px;
        color: #d88922;
    }
    /*soluciones*/
    .soluciones{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .main-sol{
        text-align: justify;
    }
    #sol{
        font-size: 20px;
        color: #d88922;
        text-align: center;
    }
    .sol-img{
        width: 100%;
        height: 100%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;    
        
    }
    .pie{
        background-color: rgba(223, 230, 233,0.5);
        padding-top: 4%;
    }
    .whatsapp{
        width: 12%;
        height: 12%;
    }
    #contacto{
        color: #d88922;  
    }
    .email{
        width: 5%;
        height: 5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    /*pagina productos*/
    .p-img{
        padding-left: 1%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .carousel-inner{
        height: 390px;
        width: 350px;
    }
    .carousel-inner img{
        max-width: 350px;
        max-height: 700px;

    }
    .promo-titulo{
        background-color: rgba(223, 230, 233,1);
    }
    .promo-letra{
        text-align: center;
        color: #d88922;
    }
    /*pagina soluciones*/
    
    .sol-titulo{
        background-color: rgba(223, 230, 233,1);
        text-align: center;
        color: black;
        font-size: 22px;
        padding-top: 20%;
        padding-bottom: 5%;
            
    }
    .sol-letraini{
        padding-top: 2%;
        text-align: center;
    }
    .sol-img-bg{
        background-color: #d6edf6;
        padding-top: 5%;
        justify-content: center;
        
        
        
    }
    .pag-sol-img{
        width: 100%;
        height: 100%;
        border: solid 2px #f9f9f9;
        border-radius: 50%;
    }
    .sol-boton{
        border: solid 2px rgb(26, 24, 24,0.2);
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;       
    }
    .sol-img-bg .sol-boton:hover{
        border: solid 2px #d88922;
        color: #d88922;

    }
    .sol-boton a{
        text-decoration: none;
    }

    /* texto de las soluciones*/
    .ser-alqui{
        background-color: rgba(223, 230, 233,0.3);
        padding-top: 4%;
        
    }
    .alqui-titu{
        text-align: center;
        font-size: 18px;
        color:black;
        background-color: rgba(223, 230, 233,0.8);
        padding: 2%;

    }
    .alqui-text{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        
    }
    #ps-sec1{
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    }
    #ps-sec2{
        background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    }
    #ps-sec3{
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    }
    /*pagina productos*/
    .pro-titulo{
        background-color: rgba(223, 230, 233,1);
        text-align: center;
        color:#aa1e28;
        font-size: 22px;
        padding-top: 20%;
        padding-bottom: 5%;
            
    }
    .pro-letraini{
        padding-top: 2%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 8%;
    }
        /*tarjetas iniciales*/
    .pp-img-boton{
        border: solid 1px #353434;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(223, 230, 233,0.3);
        margin-left: 8%;
        margin-right: 8%;
    }
     /*pagina productos hp*/
     .pphp-img-main{
        margin: 5%;
    }
    .pphp-img-boton{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 20%;
        margin-right: 20%;
                        
    }
    .btn-cotizar{
        color: #aa1e28;
        font-size: 15px;
        border-radius: 20px;
        border: solid 2px  #d88922;
        padding: 8%;

    }
    
    
    

}
/*sm*/
@media(min-width:576px) and (max-width:767px){
    #tlogo{
        width: 60%;
    }
    #alquiler{
        font-size: 40px;
       
    }
    #impresoras{
        font-size: 15px;
    }
    #solucion{
        font-size: 10px;
    }
    .descubre{
        top: 75%;
        left: 9%;
        font-size: 15px;

    }
    .present{
        width: 100%;
        height: 100%;
    }
    .letras{
        position: absolute;
        top: 30%;
        left: 9%;        
    }
     /* pajina nosotros*/
     .nosotros{
        padding-top: 5%;

        padding-bottom: 8%;
    }
    
    .main-nos{
        text-align: justify; 
              
    }
    #nos{
        font-size: 30px;
        color: #d88922;
    }

    .nos-img{
        width: 100%;
        height: 120%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;    
        
    }
    .main-img{
        padding-top: 0%;
    } 
    /*pagina por que*/
    .porque{
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgba(223, 230, 233,0.5);
    }
    .main-porque{
        text-align: center;
    }
    #por{
        font-size: 30px;
        color: #d88922;
    }
     /*soluciones*/
     .soluciones{
        padding-top: 6%;
        padding-bottom: 10%;
    }
    
    #sol{
        font-size: 30px;
        color: #d88922;
        text-align: center;
    }
    .sol-img{
        width: 100%;
        height:100%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;        
    }
    .main-sol{
        text-align: justify;
        padding-top: 4%;
        padding-right: 4%;
    }
    .pie{
        background-color: rgba(223, 230, 233,0.5);
        padding-top: 4%;
    }
    .whatsapp{
        width: 10%;
        height: 10%;
    }
    #contacto{
        color: #d88922;  
    }
    .email{
        width: 9%;
        height: 9%;
        padding-left: 2%;
        padding-right: 2%;
    }
    /*pagina productos*/
    .p-img{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 10%;
    }
     /*pagina productos*/
     .pro-titulo{
        background-color: rgba(223, 230, 233,1);
        text-align: center;
        color:#aa1e28;
        font-size: 22px;
        padding-top: 20%;
        padding-bottom: 5%;
            
    }
    .pro-letraini{
        padding-top: 2%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 8%;
    }
        /*tarjetas iniciales*/
    .pp-img-boton{
        border: solid 1px #353434;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(223, 230, 233,0.3);
        margin-left: 8%;
        margin-right: 8%;
    }
     /*pagina productos hp*/
     .pphp-img-main{
        margin: 5%;
    }
    .pphp-img-boton{
        
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 15%;
        margin-right: 15%;        
    }
    .btn-cotizar{
        color: #aa1e28;
        font-size: 12px;
        border-radius: 20px;
        border: solid 2px  #d88922;
        padding: 8%;

    }
    
}
/*md-lg*/
@media(min-width:768px) and (max-width:1199px){
    
    .navbar .nav{
        margin-left: 30%;
          
    }
    #tlogo{
        width: 60%;
    }
    #alquiler{
        font-size: 70px;
    }
    #impresoras{
        font-size: 25px;
    }
    #solucion{
        font-size: 15px;
    }
    .descubre{
        top: 75%;
        left: 9%;
        font-size: 15px;

    }
    .present{
        width: 100%;
        height: 110%;
    }
    .letras{
        position: absolute;
        top: 30%;
        left: 9%;        
    }
     /*  nosotros*/
     .nosotros{
        padding-top: 5%;
    }
    
    .main-nos{
        text-align: justify; 
        padding-top: 10%;
              
    }
    #nos{
        font-size: 30px;
        color: #d88922;
        
    }

    .nos-img{
        width: 100%;
        height: 90%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;    
        
    }
    .main-img{
        padding-top: 4%;
    } 
    /* por que*/
    .porque{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
        padding-right: 8%;
        background-color: rgba(223, 230, 233,0.5);
    }
    .main-porque{
        text-align: center;
    }
    #por{
        font-size: 30px;
        color: #d88922;
    }
    /*soluciones*/
    .soluciones{
        padding-top: 3%;
        padding-bottom: 10%;
    }
    
    #sol{
        font-size: 30px;
        color: #d88922;
        text-align: center;
    }
    .sol-img{
        width: 100%;
        height: 100%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;           
    }
    .main-sol{
        padding-top: 7%;
        padding-right: 4%;
        text-align: justify;
    } 
    .main-imgsol{
        padding-top: 2%;
    }
    .pie{
        background-color: rgba(223, 230, 233,0.5);
        
       
    }
    .whatsapp{
        width: 8%;
        height: 8%;
    }
    #contacto{
        color: #d88922;  
    }
    .email{
        width: 8%;
        height: 8%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .p-img{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    /*pagina productos*/
    .pro-titulo{
        background-color: rgba(223, 230, 233,1);
        text-align: center;
        color:#aa1e28;
        font-size: 22px;
        padding-top: 8%;
        padding-bottom: 2%;
            
    }
    .pro-letraini{
        padding-top: 2%;
        text-align: justify;
        padding-left: 8%;
        padding-right: 8%;
    }
        /*tarjetas iniciales*/
    .pp-img-boton{
        border: solid 1px #353434;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(223, 230, 233,0.3);
        margin-left: 8%;
        margin-right: 8%;
    }
     /*pagina productos hp*/
     .pphp-img-main{
        margin: 5%;
    }
    .pphp-img-boton{
        
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 27%;
        margin-right: 27%;  
            
    }
    .btn-cotizar{
        color: #aa1e28;
        font-size: 15px;
        border-radius: 20px;
        border: solid 2px  #d88922;
        padding: 8%;
    }
    
    
}
/*xl*/
@media(min-width:1200px){
    #tlogo{
        width: 70%;
    }
    #alquiler{
        font-size: 100px;
        font-weight: 700;
    }
    #impresoras{
        font-size: 25px;
        font-weight: 700;
    }
    #solucion{
        font-size: 18px;
        font-weight: 200;
    }
    .descubre{
        top: 65%;
        left: 9%;
        font-size: 15px;

    }
    .present{
        width: 100%;
        height: 100%;
    }
    .letras{
        position: absolute;
        top: 30%;
        left: 9%;        
    }
     /* pajina nosotros*/
     .nosotros{
        padding-top: 5%;
    }
    
    .main-nos{
        text-align: justify; 
        padding-top: 10%;
              
    }
    #nos{
        font-size: 40px;
        color: #d88922;
    }
    #nos-text{
        font-size: 20px;
    }

    .nos-img{
        width: 100%;
        height: 90%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;    
        
    }
    .main-img{
        padding-top: 4%;
        padding-right: 4%;
    } 
     /*pagina por que*/
     .porque{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
        background-color: rgba(223, 230, 233,0.5);
    }
    .main-porque{
        text-align: center;
    }
    #por{
        font-size: 30px;
        color: #d88922;
    }
    #por-text{
        font-size: 20px;
    }
    /*soluciones*/
    .soluciones{
        padding-top: 3%;
        padding-bottom: 10%;
    }
    
    #sol{
        font-size: 40px;
        color: #d88922;
        text-align: center;
    }
    #sol-text{
        font-size: 20px;
    }
    .sol-img{
        width: 100%;
        height: 100%;
        border: solid 2px #f9f9f9;
        border-radius: 8%;        
    }
    .main-sol{
        text-align: justify;
        padding-top: 4%;
        padding-right: 4%;
    } 
    .pie{
        background-color: rgba(223, 230, 233,0.5);
        
    }
    .whatsapp{
        width: 7%;
        height: 7%;
    }
    #contacto{
        color: #d88922;  
    }
    .email{
        width: 7.5%;
        height: 7.5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    /*pagina productos*/
    .p-img{
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 1%;
        padding-bottom: 1%;
       
    }
    
    .carousel-inner{
        height: 700px;
    }
    .carousel-inner img{
        width: 100%;
        max-height: 700px;

    }
    /*pagina productos*/
    .pro-titulo{
        background-color: rgba(223, 230, 233,1);
        text-align: center;
        color:#aa1e28;
        font-size: 30px;
        padding-top: 8%;
        padding-bottom: 2%;
            
    }
    .pro-letraini{
        padding-top: 2%;
        text-align: center;
        padding-left: 8%;
        padding-right: 8%;
    }
        /*tarjetas iniciales*/
    .pp-img-boton{
        border: solid 1px #353434;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: rgba(223, 230, 233,0.3);
        margin-left: 8%;
        margin-right: 8%;
    }
    /*pagina productos hp*/
    .pphp-img-main{
        margin: 5%;
    }
    .pphp-img-boton{
        
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 35%;
        margin-right: 35%;        
    }
    .btn-cotizar{
        color: #aa1e28;
        font-size: 16px;
        border-radius: 20px;
        border: solid 2px  #d88922;
        padding: 8%;
    }
}


/*boton descubre mas*/
.descubre{
   border-radius: 20px;
   border-color: #d88922;
   border: solid 2px #d88922;
   color:#d88922;
   position:absolute;  
    
}

/*Pagina Productos*/
.p-img{
    background: #d88922;
    
}
