@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*navegacion*/
/*margen del logo en la izquierda*/
.navbar .navbar-brand {
  margin-left: 2%;
}
/*margen de los items*/
.navbar .nav {
  margin-left: 35%;
}
/*color y tamano de las letras de la navegacion*/
.navbar .nav-item .nav-link {
  color: #d88922;
  font-size: 120%;
}
/*ancho de los div de los items de la navegacion y centrados*/
.navbar .nav-item {
  width: 125px;
  text-align: center;
  
}

/*efecto de items*/
/*.navbar .nav-item:hover {
  border: solid 2px #d88922;
  border-radius: 20px;
}*/
/*inicio responsive*/
/*-------------col-----------------*/

@media (max-width: 575px) {
  /*Logo de la navegacion*/
  #tlogo {
    width: 40%;
  }
  #alquiler {
    font-size: 25px;
    padding-top: 8%;
  }
  #impresoras {
    font-size: 10px;
  }
  #solucion {
    font-size: 7.5px;
  }
  .descubre {
    top: 100%;
    left: 9%;
    font-size: 7px;
  }
  .present {
    width: 100%;
    height: 130%;
  }
  .letras {
    position: absolute;
    top: 30%;
    left: 9%;
  }
  /* gastos*/
  .nosotros {
    padding-top: 20%;
    padding-bottom: 10%;
    padding-right: 12%;
    font-family: 'Roboto', sans-serif;
  }

  .main-nos {
    text-align: justify;
    
  }
  #nos {
    font-size: 15px;
    color: black;
    text-align: left;
    padding-left: 1px;
    font-weight: 600;
  }
  #nos-text{
    text-align:left;
    padding-left: 1px;
    font-size: 9px;
    font-weight: 595;
  }
  .descubre1{
    border: solid 2px #d88922;
    border-radius: 20px;
    font-size: 7px;
    color: #d88922;
    
  }

  .nos-img {
    width: 150%;
    height: 100%;

    /*border: solid 2px #f9f9f9;*/
    /*border-radius: 8%;*/
  }
  .main-img {
    padding-top: 3%;
    padding-bottom: 5%;
  }
  /*conservar*/
  .porque {
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: black;
  }
  .main-porque {
    text-align: center;
  }
  #por {
    font-size: 20px;
    color: white;
  }
  #por-text{
    color:white;
    font-size: 11px;
  }
  /*documentos*/
  .soluciones {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    
  }
  .main-sol {
    text-align: justify;
    
  }
  #sol {
    font-size: 20px;
    color:black;
    text-align: left;
  }
  .sol-img {
    width: 120%;
    height: 100%;
    
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  #sol-text{
    font-size: 12px;
  }
  /*pie*/
  .pie {
    height: 40px;
    background-color: black;
       
  }
  
  .whatsapp {
    width: 40px;
    height: 40px;
  }
  #contacto {
    color: white;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 5px;
  }
  /*.email {
    width: 5%;
    height: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }*/
  /*pagina promociones*/
  .promo-titulo {
    margin-top: 4%;
    /*background-color: rgba(223, 230, 233, 1);*/
    text-align: center;
    color: #082742;
    font-family: 'Roboto Light', sans-serif;

    padding-top: 15%;
    padding-bottom: 5%;

  }
  
  .p-img {
        
    height: 400px;
    
    
  }
  
  .carousel-inner {
    height: 360px;
    width: 350px;
    padding-top: 20px;
    padding-left: 45px;
    
    
  }
  .carousel-inner img {
    width: 240px;
    height: 290px;
  }
  
  
  
  /*pagina soluciones*/

  .sol-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: black;
    font-size: 22px;
    padding-top: 5%;
    margin-top: 20%;
    padding-bottom: 5%;
  }
  .sol-letraini {
    padding-top: 5%;
    text-align: center;
  }
  .sol-img-bg {
    background-color: #d6edf6;
    padding-top: 5%;
    justify-content: center;
  }
  .pag-sol-img {
    width: 100%;
    height: 100%;
    border: solid 2px #f9f9f9;
    border-radius: 50%;
  }
  .sol-boton {
    border: solid 2px rgb(26, 24, 24, 0.2);
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .sol-img-bg .sol-boton:hover {
    border: solid 2px #d88922;
    color: #d88922;
  }
  .sol-boton a {
    text-decoration: none;
  }

  /* texto de las soluciones*/
  .ser-alqui {
    background-color: rgba(223, 230, 233, 0.3);
    padding-top: 4%;
  }
  .alqui-titu {
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: rgba(223, 230, 233, 0.8);
    padding: 2%;
  }
  .alqui-text {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
  }
  #ps-sec1 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }
  #ps-sec2 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  #ps-sec3 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  /*pagina productos*/
  .produc-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: #aa1e28;
    font-size: 18px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20%;
  }
  .pro-letraini {
    padding-top: 2%;
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
  }
  /*tarjetas iniciales*/
  .pp-img-boton {
    border: solid 1px #353434;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(223, 230, 233, 0.3);
    margin-left: 8%;
    margin-right: 8%;
  }
  /*pagina productos hp*/
  .pphp-img-main {
    margin: 5%;
  }
  .pphp-img-boton {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .btn-cotizar {
    color: #aa1e28;
    font-size: 15px;
    border-radius: 20px;
    border: solid 2px #d88922;
    padding: 8%;
  }
}
/*-------------SM-------------------------------*/
@media (min-width: 576px) and (max-width: 767px) {
  #tlogo {
    width: 60%;
  }
  #alquiler {
    font-size: 40px;
  }
  #impresoras {
    font-size: 15px;
  }
  #solucion {
    font-size: 10px;
  }
  .descubre {
    top: 80%;
    left: 9%;
    font-size: 13px;
  }
  .present {
    width: 100%;
    height: 100%;
  }
  .letras {
    position: absolute;
    top: 30%;
    left: 9%;
  }
  /* pajina nosotros*/
  .nosotros {
    padding-top: 5%;

    padding-bottom: 8%;
  }

  .main-nos {
    text-align: justify;
  }
  #nos {
    font-size: 28px;
    color: black;
  }
  .descubre1{
    border: solid 2px #d88922;
    border-radius: 20px;
    font-size: 12px;
    color: #d88922;
    
  }

  .nos-img {
    width: 100%;
    height: 100%;
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  .main-img {
    padding-top: 0%;
  }
  /*conservar*/
  .porque {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: black;
  }
  .main-porque {
    text-align: center;
  }
  #por {
    font-size: 35px;
    color: white;
  }
  #por-text{
    color:white;
    font-size: 16px;
  }
  /*documentos*/
  .soluciones {
    padding-top: 6%;
    padding-bottom: 10%;
    padding-left: 5%;
    
  }

  #sol {
    font-size: 35px;
    color: black;
    text-align: left;
  }
  .sol-img {
    width: 100%;
    height: 100%;
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  .main-sol {
    text-align: justify;
    padding-top: 4%;
    padding-right: 4%;
  }
  #sol-text{
    font-size: 20px;
  }
  /*pie*/
  .pie {
    height: 40px;
    background-color: black;
       
  }
  
  .whatsapp {
    width: 40px;
    height: 40px;
  }
  #contacto {
    color: white;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 5px;
  }
  /*.email {
    width: 5%;
    height: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }*/
  /*pagina promociones*/
  .promo-titulo{
    margin-top: 15%;
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: black;
    padding-top: 5%;
    
    padding-bottom: 5%;
     
  }
  .p-img {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 1%;
    
  }
  
  /*pagina soluciones*/

  .sol-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: black;
    font-size: 22px;
    padding-top: 15%;
    padding-bottom: 5%;
  }
  .sol-letraini {
    padding-top: 2%;
    text-align: center;
  }
  /*tarjetas*/
  .ps-card {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
  }
  .pp-img-boton {
    border: solid 1px #353434;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(223, 230, 233, 0.3);
    margin-left: 8%;
    margin-right: 8%;
  }

  .ps-img-alqui {
    height: 170px;
  }
  .ps-img-esca {
    height: 170px;
  }
  /* texto de las soluciones*/
  .ser-alqui {
    background-color: rgba(223, 230, 233, 0.3);
    padding-top: 4%;
  }
  .alqui-titu {
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: rgba(223, 230, 233, 0.8);
    padding: 2%;
  }
  .alqui-text {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
  }
  #ps-sec1 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }
  #ps-sec2 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  #ps-sec3 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  /*pagina productos*/
  .produc-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: #aa1e28;
    font-size: 28px;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 10%;
  }
  .pro-letraini {
    padding-top: 2%;
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
  }
  /*tarjetas iniciales*/
  .pp-img-boton {
    border: solid 1px #353434;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(223, 230, 233, 0.3);
    margin-left: 8%;
    margin-right: 8%;
  }
  /*pagina productos hp*/
  .pphp-img-main {
    margin: 5%;
  }
  .pphp-img-boton {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .btn-cotizar {
    color: #aa1e28;
    font-size: 12px;
    border-radius: 20px;
    border: solid 2px #d88922;
    padding: 8%;
  }
}
/*-------------------md-lg--------------------*/
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar .nav {
    margin-left: 30%;
  }
  #tlogo {
    width: 60%;
  }
  #alquiler {
    font-size: 70px;
  }
  #impresoras {
    font-size: 25px;
  }
  #solucion {
    font-size: 15px;
  }
  .descubre {
    top: 80%;
    left: 9%;
    font-size: 15px;
  }
  .present {
    width: 100%;
    height: 110%;
  }
  .letras {
    position: absolute;
    top: 30%;
    left: 9%;
  }
  /*  nosotros*/
  .nosotros {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .main-nos {
    text-align: justify;
    padding-top: 5%;
    padding-left: 8%;
  }
  #nos {
    font-size: 35px;
    color: black;
    
  }
  #nos-text {
    font-size: 20px;
    padding-bottom: 2%;
  }
  .descubre1{
    border: solid 2px #d88922;
    border-radius: 20px;
    font-size: 15px;
    color: #d88922;
       
  }

  .nos-img {
    width: 100%;
    height: 100%;
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  .main-img {
    padding-top: 4%;
  }
  /* conservar*/
  .porque {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    background-color:black;
  }
  .main-porque {
    text-align: center;
  }
  #por {
    font-size:40px;
    color: white;
  }
  #por-text{
    color:white;
    font-size: 18px;
  }
  /*documentos*/
  .soluciones {
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  #sol {
    font-size: 50px;
    color: black;
    text-align: left;
  }
  .sol-img {
    width: 100%;
    height: 100%;
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  #sol-text{
    font-size: 32px;
  }
  .main-sol {
    padding-top: 7%;
    padding-right: 4%;
    text-align: justify;
  }
  .main-imgsol {
    padding-top: 2%;
  }
  /*pie*/
  .pie {
    height: 40px;
    background-color: black;
       
  }
  
  .whatsapp {
    width: 40px;
    height: 40px;
  }
  #contacto {
    color: white;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 5px;
  }
  /*.email {
    width: 5%;
    height: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }*/
  
  /*pagina promociones*/
  .p-img {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .promo-titulo{
    background-color: rgba(223, 230, 233, 1);
    margin-top: 10%;
    text-align: center;
    font-size: 35px;
    color: black;
    padding-top: 2%;
    
    padding-bottom: 2%;
  }
  /*pagina productos*/
  .produc-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: #aa1e28;
    font-size: 30px;
    padding-top: 8%;
    padding-bottom: 2%;
    margin-top: 4%;
  }
  .pro-letraini {
    padding-top: 2%;
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
  }
  /*tarjetas iniciales*/
  .pp-img-boton {
    border: solid 1px #353434;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(223, 230, 233, 0.3);
    margin-left: 8%;
    margin-right: 8%;
  }
  /*pagina soluciones*/

  .sol-titulo {
    background-color: rgba(223, 230, 233, 1);
    text-align: center;
    color: black;
    font-size: 22px;
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .sol-letraini {
    padding-top: 2%;
    text-align: center;
  }
  /*tarjetas*/
  .ps-card {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
  }
  .pp-img-boton {
    border: solid 1px #353434;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(223, 230, 233, 0.3);
    margin-left: 8%;
    margin-right: 8%;
  }

  .ps-img-alqui {
    height: 230px;
  }
  .ps-img-esca {
    height: 230px;
  }
  /* texto de las soluciones*/
  .ser-alqui {
    background-color: rgba(223, 230, 233, 0.3);
    padding-top: 4%;
  }
  .alqui-titu {
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: rgba(223, 230, 233, 0.8);
    padding: 2%;
  }
  .alqui-text {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
  }
  #ps-sec1 {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }
  #ps-sec2 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }
  #ps-sec3 {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  /*pagina productos hp*/
  .pphp-img-main {
    margin: 5%;
  }
  .pphp-img-boton {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 27%;
    margin-right: 27%;
  }
  .btn-cotizar {
    color: #aa1e28;
    font-size: 15px;
    border-radius: 20px;
    border: solid 2px #d88922;
    padding: 8%;
  }
}
/*-----------------------------XL------------------------*/
@media (min-width: 1200px) {
  #tlogo {
    width: 70%;
  }
  #alquiler {
    font-size: 120px;
    font-weight: 1200;
    font-family: 'Roboto Black',sans-serif;
  }
  #impresoras {
    font-size: 38px;
    font-weight: 700;
    font-family: 'Roboto Black',sans-serif;
    color: #D2D2D2;
  }
  #solucion {
    font-size: 30px;
    font-weight: 200;
    font-family: 'Roboto Light',sans-serif;
    line-height: 2;
  }
  .descubre {
    top: 75%;
    left: 9%;
    font-size: 24px;
  }
  .present {
    width: 100%;
    height: 100%;
  }
  .letras {
    position: absolute;
    top: 22%;
    left: 9%;
  }
  /* pajina nosotros*/
  .nosotros {
    padding-top: 2%;
    padding-bottom: 10%;
  }

  .main-nos {
    text-align: justify;
    padding-top: 3%;
    padding-left: 6%;
    
  }
  #nos {
    font-size: 65px;
    font-family: 'Roboto Light',sans-serif;
    color: #082742;
  }
  #nos-text {
    font-size: 30px;
    font-family: 'Roboto Light',sans-serif;
    color: #676767;
    padding-bottom: 2%;
    padding-top: 3%;
  }
  .descubre1{
    border: solid 2px #d88922;
    border-radius: 20px;
    font-size: 24px;
    color: #d88922;
       
  }

  .nos-img {
    width: 140%;
    height: 105%;
    
    /*border: solid 2px #f9f9f9;
    border-radius: 8%;*/
  }
  .main-img {
    /*padding-top: 4%;*/
    margin-top: 5%;
    right: 15%;
  }
  /*conservar*/
  .porque {
    padding-top: 13%;
    padding-bottom: 10%;
    padding-left: 9%;
    padding-right: 9%;
    background-color: black;
  }
  .main-porque {
    text-align: center;
  }
  #por {
    font-size: 87px;
    color: white;
    font-family: 'Roboto Light',sans-serif;
  }
  #por-text {
    font-size: 30px;
    color:white;
    font-family: 'Roboto Light',sans-serif;
    padding-bottom: 5%;
  }
  /*documentos*/
  .soluciones {
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 1%;
    text-align: center;
  }

  #sol {
    font-size: 85px;
    color: #082742;
    text-align: left;
    font-family: 'Roboto Light',sans-serif;
  }
  #sol-text {
    font-size: 35px;
    text-align: center;
    color: #676767;
    font-family: 'Roboto Light', sans-serif;
  }
  .sol-img {
    width: 115%;
    height: 100%;
    

    
    /*border-radius: 8%;*/
  }
  .main-sol {
    text-align: justify;
    padding-top: 4%;
    padding-right: 8%;
    padding-left: 8%;
    
  }
  /*info*/
  .main-infopro ul{
    list-style: none;
    font-size: 17px;
    font-family: 'Roboto Light', sans-serif;
    padding-top: 30%;
    padding-bottom: 70%;
    
  }
  .info{
    background-color: #fafafa;
  }
  .info-img{
    padding-top: 20%;
    padding-left: 17%;
    width: 160px;
  }
  .info-titulo{
    font-family: 'Roboto Normal',sans-serif;
    font-size: 25px;
    color: #676767;
  }
  .info-text{
    color:#676767;
    text-decoration: none;
  }

  /*pie*/
  .pie {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 5%;
    background-color:#ececec;
    font-family: 'Roboto Light', sans-serif;
    font-size: 22px;    
       
  }
  .logo1{
    width: 40px;
  }
  .logo2{
    width: 70px;
  }
  .logo3{
    width: 50px;
  }
  
  
  /*pagina promociones*/
  .p-img {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
   
  }
  
  .promo-titulo{
    font-family: 'Robot Light', sans-serif;
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px;
  }

  .carousel-inner {
    height: 520px;
  }
  .carousel-inner img {
    width: 100%;
    max-height: 520px;
  }
  /*pagina soluciones*/
  .sol-ti-banda{
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5%;
  }

  .sol-titulo {
   font-family: 'Roboto Light', sans-serif;
    text-align: center;
    color:#082742;
    font-size: 60px;
    padding-top: 8%;
    padding-bottom: 2%;
  }
  .sol-letraini {
    font-family: 'Roboto Light', sans-serif;
    color: #676767;
    text-align: center;
    font-size: 25px;
  }
  /*tarjetas*/
  .ps-card {
    border: none;
    height: 100%;
  }
  
  .b-alquiler{
    border: solid 2px #d88922;
    border-radius: 20px;
    font-size: 18px;
    color: #d88922;
    width: 60%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
  }
  

  .ps-img-alqui {
    height: 350px;
  }
  .ps-img-esca {
    height: 350px;
  }
  .ps-img-foto{
    height: 350px;
  }
 
  /*pagina alquiler*/
  .serv-alquiler{
    padding-left: 13%;
    padding-right: 10%;
    margin-top: 10%;
    font-family: 'Roboto Light', sans-serif;
  }

  .alqui-titulo{
    
    text-align: center;
    
    font-size: 60px;
  }
  .alqui-subtitulo{
    
    color: #d88922;
    font-size: 45px;
  }
  .alqui-texto{
    color: #676767;
    font-size: 30px;
  }
  /*pagina productos*/
  .produc-titulo {
    /*background-color: rgba(223, 230, 233, 1);*/
    text-align: center;
    color: #082742;
    font-size: 70px;
    padding-top: 7%;
    padding-bottom: 1%;
    font-family: 'Roboto Light',sans-serif;
  }
  .pro-letraini {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 30px;
    font-family: 'Roboto Light', sans-serif;
  }
  /*tarjetas iniciales*/
  .ppi-img-main{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  /*pagina productos hp*/
  .pphp-img-main {
    margin: 5%;
  }
  .pphp-img-boton {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 35%;
    margin-right: 35%;
  }
  .btn-cotizar {
    color: #aa1e28;
    font-size: 16px;
    border-radius: 20px;
    border: solid 2px #d88922;
    padding: 8%;
  }
}

/*boton descubre mas*/
.descubre {
  border-radius: 20px;
  border-color: #d88922;
  border: solid 2px #d88922;
  color: #d88922;
  position: absolute;
}

